<a href="https://colab.research.google.com/github/eda426/-gen-alan-hesaplama/blob/main/verianalizive_yapayzekat%C3%BCmderslerim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# in OperatÃ¶rÃ¼: Bir deÄŸerin bir veri yapÄ±sÄ±nda bulunup bulunmadÄ±ÄŸÄ±nÄ± kontrol eder.

In [ ]:
atolye="yazÄ±lÄ±mla gÃ¼Ã§lenen kadÄ±nlar"
atolye

'yazÄ±lÄ±mla gÃ¼Ã§lenen kadÄ±nlar'

In [ ]:
"l" in atolye

True

In [ ]:
"v" in atolye

False

In [ ]:
len(286382468246)

TypeError: object of type 'int' has no len()

In [ ]:
len("286382468246")#len fonksiyonu nesnenin uzunluÄŸunu veya eleman sayÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼r

12

In [ ]:
tc_no="16729493792"
len(tc_no)

11

In [ ]:
#indexleme (indeksleme), Python'da bir veri yapÄ±sÄ±nÄ±n (liste, tuple, dize vb.) belirli bir Ã¶ÄŸesine eriÅŸmek iÃ§in kullanÄ±lan bir kavramdÄ±r.

harfler="acrtjhgmjmgm"
harfler

'acrtjhgmjmgm'

In [ ]:
harfler[5]

'h'

In [ ]:
#slice dilimleme iÅŸlemidir
harfler[0:5]

'acrtj'

In [ ]:
#input kullanÄ±cÄ±dan veri girilmesini saÄŸlar
name=input("isminiz nedir?")
print(name)

isminiz nedir?eda
eda

Ã¼yelik operatÃ¶r

In [ ]:
##Ã¼Ã§Ã¼ncÃ¼ atÃ¶lyee koÅŸullar ve dÃ¶ngÃ¼ler
x=7

if x>0:
 print(x,"pozitiftir")

7 pozitiftir

In [ ]:
sayi=int(input("1 ile 15 arasÄ±nda bir sayÄ± giriniz:"))
print("girdiÄŸiniz sayÄ±:",sayi)

1 ile 15 arasÄ±nda bir sayÄ± giriniz:8
girdiÄŸiniz sayÄ±: 8

In [ ]:
# eÄŸer ki sayÄ± 15'den bÃ¼yÃ¼k olursa bÃ¼yÃ¼k sayÄ± girdiÄŸinin uyarÄ±sÄ±nÄ± versin.

if sayi>15:
   print("bÃ¼yÃ¼k sayÄ± girdiniz")

In [ ]:
# sayÄ± eÄŸer ki negatif ise negatif sayÄ± girdiniz uyarÄ±sÄ± versin
if sayi<0:
   print("negatif sayÄ± girdiniz")

In [ ]:
sayi=int(input("1 ile 15 arasÄ±nda bir sayÄ± giriniz:"))
if sayi>15:
  print("bÃ¼yÃ¼k sayÄ± girdiniz")
elif sayi<0:
  print("negatif sayÄ± girdiniz")

1 ile 15 arasÄ±nda bir sayÄ± giriniz:-2
negatif sayÄ± girdiniz

In [ ]:
sayi=int(input("1 ile 100 arasÄ±nda bir sayÄ± giriniz:"))
if sayi>100:
  print("bÃ¼yÃ¼k sayÄ± girdiniz")
elif sayi<0:
  print("negatif sayÄ± girdiniz")
else:
  print("sayÄ± 1 ile 100 arasÄ±nda olmalÄ±!")

1 ile 100 arasÄ±nda bir sayÄ± giriniz:101
bÃ¼yÃ¼k sayÄ± girdiniz

In [ ]:
#Bir oyunda toplanan skorlarÄ±n toplam sonucunu Ã§ok iyi, iyi, kÃ¶tÃ¼ olarak Ã¼Ã§ kategoriye ayÄ±ralÄ±m.

#en fazla 100 olabilir.

#40 : KÃ¶tÃ¼ 40-70 : Ä°yi 70-100 : Ã‡ok iyi
skor=int(input("oyunda topladÄ±ÄŸÄ±nÄ±z skoru giriniz:"))
if skor<=40:
 print("kÃ¶tÃ¼ daha fazla sayÄ± toplamalÄ±sÄ±n")
elif skor<=70:
 print("iyi skor!")
elif skor<=100:
  print("tebrikler Ã§ok iyi skor")
else:
  print("geÃ§ersiz deÄŸer")

oyunda topladÄ±ÄŸÄ±nÄ±z skoru giriniz:65
iyi skor!

In [ ]:
#Bir hava durumu uygulamasÄ±nda, kullanÄ±cÄ±dan gÃ¼nÃ¼n sÄ±caklÄ±ÄŸÄ± (santigrat cinsinden) alÄ±narak hava durumu kategorisi belirlenmek isteniyor.

#Kategoriler ÅŸu ÅŸekilde olsun:

#0Â°C ve altÄ±: Ã‡ok soÄŸuk 1Â°C - 15Â°C arasÄ±: Serin 16Â°C - 30Â°C arasÄ±: IlÄ±k 31Â°C ve Ã¼zeri: SÄ±cak KullanÄ±cÄ±dan bir sÄ±caklÄ±k deÄŸeri alÄ±nacak ve
#bu deÄŸere gÃ¶re uygun mesaj yazdÄ±rÄ±lacak.

sicaklik=float(input("hava sÄ±caklÄ±ÄŸÄ±nÄ±( (santigrat cinsinden)) giriniz:"))
if sicaklik<=0:
 print("Ã‡ok soÄŸuk")
elif 1<=sicaklik<=15:
  print("Serin")
elif 16<=sicaklik<=30:
  print("IlÄ±k")
else:
  print("SÄ±cak")

hava sÄ±caklÄ±ÄŸÄ±nÄ±( (santigrat cinsinden)) giriniz:16
IlÄ±k

In [ ]:
a=1

while a<=10:
  print("Merhaba")
  a+=1

Merhaba
Merhaba
Merhaba
Merhaba
Merhaba
Merhaba
Merhaba
Merhaba
Merhaba
Merhaba

In [ ]:

a=1

while a<=10:
  print(a)
  a+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#0'dan 10'a kadar Ã§ift sayÄ±larÄ± ekrana yazÄ±ralÄ±m.
a=0
while a<=10:
 if a%2==0:
   print(a)
 a+=1

0
2
4
6
8
10

In [ ]:
#kahve makineleri, kullanÄ±cÄ± bir seÃ§im yapsÄ±n, 2 ve 4 arasÄ±ndaki Ã¼rÃ¼nler yok.
while True:
  secim=int(input("Kahve seÃ§imi yapÄ±nÄ±z: (0-Ã‡Ä±kÄ±ÅŸ,2-4-ÃœrÃ¼n yok)"))
  if secim==0:
    print("Ã‡Ä±kÄ±ÅŸ yapÄ±lÄ±yor..")
    break
  elif 2<=secim<=4:
    print("BU Ã¼rÃ¼n mevcut deÄŸildir")
    pass
  else:
    print("SipariÅŸiniz alÄ±ndÄ±.Afiyet olsun.")

Kahve seÃ§imi yapÄ±nÄ±z: (0-Ã‡Ä±kÄ±ÅŸ,2-4-ÃœrÃ¼n yok)5
SipariÅŸiniz alÄ±ndÄ±.Afiyet olsun.
Kahve seÃ§imi yapÄ±nÄ±z: (0-Ã‡Ä±kÄ±ÅŸ,2-4-ÃœrÃ¼n yok)3
BU Ã¼rÃ¼n mevcut deÄŸildir
Kahve seÃ§imi yapÄ±nÄ±z: (0-Ã‡Ä±kÄ±ÅŸ,2-4-ÃœrÃ¼n yok)0
Ã‡Ä±kÄ±ÅŸ yapÄ±lÄ±yor..

In [ ]:
#for dÃ¶ngÃ¼sÃ¼ her elaman iÃ§in Ã§alÄ±ÅŸacak olan dÃ¶ngÃ¼ Ã§eÅŸididir
sozcuk="Matematik"
for harf in sozcuk:
  print(harf)

M
a
t
e
m
a
t
i
k

In [ ]:
for sayi in range(10):
  print(sayi)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(4,9):
  print(i)

4
5
6
7
8

In [ ]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [ ]:
for i in range(20):
  if i%2==1:
    pass
  else:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
#FONKSÄ°YONLAR 4.ATÃ–LYEM
def ekle(yas):
  yeni_yas=yas+1
  print(str(yas) + " bir yaÅŸ daha alÄ±rsa " + str(yeni_yas) + " olur ")

ekle(29)

29 bir yaÅŸ daha alÄ±rsa 30 olur

In [ ]:
#mesafe hesaplama
def mesafe_hesapla(hÄ±z,sÃ¼re):
  mesafe=hÄ±z*sÃ¼re
  print(" AraÃ§ saatte " + str(hÄ±z) + " km hÄ±zla " + str(sÃ¼re) + " saatte " + str(mesafe) + " km yol gider.")

mesafe_hesapla(145,5)

 AraÃ§ saatte 145 km hÄ±zla 5 saatte 725 km yol gider.

In [ ]:
def ekle(sayi):
  yeni_sayi=sayi+1
  print("{} sayÄ±sÄ±na 1 eklenirse {} sayÄ±sÄ± elde edilir".format(sayi,yeni_sayi))

ekle(398)

398 sayÄ±sÄ±na 1 eklenirse 399 sayÄ±sÄ± elde edilir

In [ ]:
#f-string, Python 3.6 ve sonrasÄ±nda tanÄ±tÄ±lan bir Ã¶zelliktir ve deÄŸiÅŸkenleri ifadeleri string iÃ§erisinde daha okunabilir ve
#kolay bir ÅŸekilde eklemenizi saÄŸlar. f-string kullanarak, string iÃ§inde deÄŸiÅŸkenlerin deÄŸerlerini veya ifadelerin sonuÃ§larÄ±nÄ± eklemek iÃ§in
#sÃ¼slÃ¼ parantezler {} kullanÄ±rÄ±z. f-string, f veya F karakteri ile baÅŸlar.

def ekle(sayi):
  yeni_sayi=sayi+1
  print(f"{sayi} sayÄ±sÄ±na 1 eklenirse {yeni_sayi} elde ederiz")

ekle(78898)

78898 sayÄ±sÄ±na 1 eklenirse 78899 elde ederiz

In [ ]:
isim="Eda"
soyisim="Ã¶zdemir kurt"
print(f"benim adÄ±m {isim} soyadÄ±m {soyisim}")

benim adÄ±m Eda soyadÄ±m Ã¶zdemir kurt

In [ ]:
#fonksiyon Ã¶rneÄŸi yazalÄ±m.
#portakal sÄ±kma makinesini bir fonksiyona dÃ¶nÃ¼ÅŸtÃ¼relim.

def portakal_suyu_makinasÄ±(portakal):
  portakal_suyu=portakal*0.5
  print(f"{portakal_suyu} bardak portakal suyu elde ettiniz")

portakal_sayisi=int(input("kaÃ§ portakal var?"))
portakal_suyu_makinasÄ±(portakal_sayisi)

kaÃ§ portakal var?9
4.5 bardak portakal suyu elde ettiniz

In [ ]:
#Ã¼Ã§ sayÄ± tanÄ±mlama ve karesini print ile yazdÄ±ralÄ±m
def hesaplama(sayi):
  print(str(sayi) + " sayÄ±sÄ±nÄ±n karesi " + str(sayi**2)  + " , kÃ¼pÃ¼ ise " + str(sayi**3) + " olacaktÄ±r")

hesaplama(9)
hesaplama(4)

9 sayÄ±sÄ±nÄ±n karesi 81 , kÃ¼pÃ¼ ise 729 olacaktÄ±r
4 sayÄ±sÄ±nÄ±n karesi 16 , kÃ¼pÃ¼ ise 64 olacaktÄ±r

In [ ]:
def kare_hesaplama(sayi):
    sonuc = sayi**2
    print(sonuc)
    return sonuc # Bu satÄ±r fonksiyonunun sonucunu dÃ¶ndÃ¼rÃ¼r

kare_hesaplama(2) * 3
kare_hesaplama(2) * "BÃ¼ÅŸra "

4
4

'BÃ¼ÅŸra BÃ¼ÅŸra BÃ¼ÅŸra BÃ¼ÅŸra '

In [ ]:
# Pythonâ€™da dinamik programlama yaparken iÅŸini kolaylaÅŸtÄ±rÄ±r.

# ðŸ”¹ Ã–nce TanÄ±mlar

# *args (tek yÄ±ldÄ±z) Birden fazla konum (sÄ±rasÄ±z) argÃ¼manÄ± alÄ±r. TÃ¼m gelen deÄŸerleri tuple iÃ§inde saklar.

# **kwargs (Ã§ift yÄ±ldÄ±z) Anahtar=deÄŸer ÅŸeklinde gelen argÃ¼manlarÄ± alÄ±r. TÃ¼m gelen deÄŸerleri dictionary (sÃ¶zlÃ¼k) iÃ§inde saklar.

# ðŸŽ¯ Neden Bu Kadar Ã–nemli?

# Sen bir fonksiyon yazarken kaÃ§ tane deÄŸer geleceÄŸini bilmiyorsan, veya kullanÄ±cÄ±dan gelen veri deÄŸiÅŸkenlik gÃ¶steriyorsa, bu yÃ¶ntemleri kullanÄ±rsÄ±n.

def topla(*args):
  toplam=0
  for sayi in args:
    toplam+=sayi
  print("toplam:",toplam)

topla(3,5)
topla(3,5,7)
topla(3,5,7,9)

toplam: 8
toplam: 15
toplam: 24

In [ ]:
#5.ATÃ–LYEM

Listeler iÃ§in kullanÄ±labilecek metodlar
Bir liste Ã¼zerinde doÄŸrudan Ã§alÄ±ÅŸÄ±r ve genellikle listeyi yerinde (in-place) deÄŸiÅŸtirirler. (liste.metod() ÅŸeklinde kullanÄ±lÄ±rlar).

.append(): Liste sonuna eleman ekler.

.extend(): Bir listeye baÅŸka bir listenin sonuna ekler.

.insert(): Belirtilen bir konuma eleman ekler.

.remove(): Belirtilen deÄŸere sahip elemanÄ± listeden Ã§Ä±karÄ±r.

.pop(): Belirtilen konumdaki elemanÄ± listeden Ã§Ä±karÄ±r ve bu elemanÄ± dÃ¶ndÃ¼rÃ¼r.

 Konum belirtilmezse son elemanÄ± Ã§Ä±karÄ±r ve dÃ¶ndÃ¼rÃ¼r.

.clear(): Listedeki tÃ¼m elemanlarÄ± kaldÄ±rÄ±r.

.index(): Belirtilen deÄŸere sahip ilk elemanÄ±n konumunu dÃ¶ndÃ¼rÃ¼r.

.count(): Belirtilen deÄŸerin listede kaÃ§ kez geÃ§tiÄŸini dÃ¶ndÃ¼rÃ¼r.

.sort(): Liste elemanlarÄ±nÄ± kÃ¼Ã§Ã¼kten bÃ¼yÃ¼ÄŸe sÄ±ralar.

.reverse(): Liste elemanlarÄ±nÄ± tersine Ã§evirir.

.copy(): Listenin bir kopyasÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

Listelerde kullanÄ±labilecek yerleÅŸik metodlar

YerleÅŸik fonksiyonlar olarak Python dilinin bir parÃ§asÄ±dÄ±rlar( fonksiyon(adÄ±) ÅŸeklinde kullanÄ±lÄ±rlar).

len(): Herhangi bir iterable'Ä±n (listeler, stringler, tuple'lar, vb.) uzunluÄŸunu dÃ¶ndÃ¼rÃ¼r.

min(): Herhangi bir iterable'daki en kÃ¼Ã§Ã¼k elemanÄ± dÃ¶ndÃ¼rÃ¼r

max(): Herhangi bir iterable'daki en bÃ¼yÃ¼k elemanÄ± dÃ¶ndÃ¼rÃ¼r

split(): Stringlerde kullanÄ±lÄ±r ve belirtilen ayÄ±rÄ±cÄ±ya gÃ¶re stringi bÃ¶ler ve bir liste dÃ¶ndÃ¼rÃ¼r.

sum(): Bir iterable'daki elemanlarÄ±n toplamÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

sorted(): Bir iterable'Ä± sÄ±ralar ve yeni bir sÄ±ralanmÄ±ÅŸ liste dÃ¶ndÃ¼rÃ¼r.

In [ ]:
#Basit sayÄ±lardan oluÅŸan bir liste yapalÄ±m.

my_list=[4, 6, 7, 11, 13, 77, 44]
my_list

[4, 6, 7, 11, 13, 77, 44]

In [ ]:
type(my_list)

list

In [ ]:
# listede 0. indexe eriÅŸelim.
my_list[0]
# listede -1. indexe eriÅŸelim
my_list[-1]
# listede 2 ile 4 indexe eriÅŸelim.
my_list[2:5]

[7, 11, 13]

In [ ]:
#Listeler deÄŸiÅŸtirilebilir olduÄŸu iÃ§in elemanlarÄ± deÄŸiÅŸtirelim.
my_list

[4, 6, 7, 11, 13, 77, 44]

In [ ]:
my_list[2]="veri bilimi"

In [ ]:
print(my_list)

[4, 6, 'veri bilimi', 11, 13, 77, 44]

In [ ]:
# 5. indexi python stringi ile deÄŸiÅŸtirelim
my_list[5]="Pyhton"
print(my_list)

[4, 6, 'veri bilimi', 11, 13, 'Pyhton', 44]

In [ ]:
#Liste iÃ§inde liste bulunabilir.
my_list2 = ["Elma", "Karpuz", 5, ["Ã¼zÃ¼m", 1.2], [2, 4.1, 5]]
my_list2

['Elma', 'Karpuz', 5, ['Ã¼zÃ¼m', 1.2], [2, 4.1, 5]]

In [ ]:
# ÃœzÃ¼m ifadesine ulaÅŸalÄ±m. Yani liste iÃ§indeki listenin elemanÄ±na eriÅŸelim.
my_list2[3][0]

'Ã¼zÃ¼m'

In [ ]:
# my_list2 listesinde 4.1 eriÅŸelim.
my_list2[4][1]

4.1

In [ ]:
# split() fonksiyonu stringlerle Ã§alÄ±ÅŸÄ±r. Split() fonksiyonu belirtilen bir ayraÃ§(varsayÄ±lan olarak boÅŸluk karakteri) ile bÃ¶ler
# ve bÃ¶ldÃ¼ÄŸÃ¼ parÃ§alarÄ± bir liste olarak dÃ¶ndÃ¼rÃ¼r. Ã–zellikle metin iÅŸleme ve veri analizlerinde sÄ±kÃ§a kullanÄ±lÄ±r.
atolye = "YazÄ±lÄ±mla GÃ¼Ã§lenen KadÄ±nlar Veri Bilimi ve Yapay Zeka"
atolye_list=atolye.split()
atolye_list

['YazÄ±lÄ±mla', 'GÃ¼Ã§lenen', 'KadÄ±nlar', 'Veri', 'Bilimi', 've', 'Yapay', 'Zeka']

In [ ]:
meyveler = "ÃœzÃ¼m, Karpuz, Muz, Ã‡ilek, Elma"
meyveler_list = meyveler.split(",")
meyveler_list

['ÃœzÃ¼m', ' Karpuz', ' Muz', ' Ã‡ilek', ' Elma']

In [ ]:
#len() fonksiyonu sadece stringlerin karakter uzunluÄŸunu deÄŸil, listelerin iÃ§indeki elemanlarÄ±n sayÄ±sÄ±nÄ± da tespit edebilir.
atolye_list

['YazÄ±lÄ±mla', 'GÃ¼Ã§lenen', 'KadÄ±nlar', 'Veri', 'Bilimi', 've', 'Yapay', 'Zeka']

In [ ]:
len(atolye_list)

8

In [ ]:
sayilar=1,4,5,6
x=list(sayilar)
x

[1, 4, 5, 6]

In [ ]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#bir liste oluÅŸturup, listenin elemanÄ± kadar range metodu ile sayÄ±larÄ±nÄ± alt alta yazdÄ±ralÄ±m.
meyveler=["Elma","Armut","Karpuz","Kivi","Muz", "Ã‡ilek", "Kavun"]
for i in range(0,len(meyveler)):
  print(i)

0
1
2
3
4
5
6

In [ ]:
meyveler=["Elma","Armut","Karpuz","Kivi","Muz", "Ã‡ilek", "Kavun"]
for i in range(0,len(meyveler)):
  print(i,meyveler[i])

0 Elma
1 Armut
2 Karpuz
3 Kivi
4 Muz
5 Ã‡ilek
6 Kavun

In [ ]:
meyveler=["Elma","Armut","Karpuz","Kivi","Muz", "Ã‡ilek", "Kavun"]
for i in range(0,len(meyveler)):
  print(f"{i} - {meyveler[i]}")

0 - Elma
1 - Armut
2 - Karpuz
3 - Kivi
4 - Muz
5 - Ã‡ilek
6 - Kavun

In [ ]:
#append() metodu listeye yeni Ã¶ÄŸe eklemek iÃ§in kullanÄ±lÄ±r.

my_list.append(" yapay zeka")
my_list

[4, 6, 'veri bilimi', 11, 13, 'Pyhton', 44, ' yapay zeka']

In [ ]:
#insert() metodu, Python'da listelere belirli bir konumda (indekste) yeni bir Ã¶ÄŸe eklemek iÃ§in kullanÄ±lÄ±r.
cicek = ["manolya", "papatya", 4.2, "GÃ¼l", "Yasemin", 0]
cicek

['manolya', 'papatya', 4.2, 'GÃ¼l', 'Yasemin', 0]

In [ ]:
#2.indexe Nergis ifadesini ekleyelim.

cicek.insert(2,"Nergis")
cicek

['manolya', 'papatya', 'Nergis', 4.2, 'GÃ¼l', 'Yasemin', 0]

In [ ]:
#5. indexe 15 sayÄ±sÄ±nÄ± ekleyelim
cicek.insert(5,15)
cicek

['manolya', 'papatya', 'Nergis', 4.2, 'GÃ¼l', 15, 'Yasemin', 0]

In [ ]:
#extend() iki listeyi birbirine ekler.
sebze = ["SalatalÄ±k", "PatlÄ±can", "Kabak"]

In [ ]:
temizlik = ["Sabun", "Cif"]

In [ ]:
sebze.extend(temizlik)
sebze

['SalatalÄ±k', 'PatlÄ±can', 'Kabak', 'Sabun', 'Cif']

In [ ]:
temizlik.extend(sebze)
temizlik

['Sabun',
 'Cif',
 'SalatalÄ±k',
 'PatlÄ±can',
 'Kabak',
 'Sabun',
 'Cif',
 'SalatalÄ±k',
 'PatlÄ±can',
 'Kabak',
 'Sabun',
 'Cif']

In [ ]:
temizlik.remove('Sabun')
temizlik

['Cif',
 'SalatalÄ±k',
 'PatlÄ±can',
 'Kabak',
 'Cif',
 'SalatalÄ±k',
 'PatlÄ±can',
 'Kabak',
 'Sabun',
 'Cif']

In [ ]:
#sort() fonksiyonu, listedeki Ã¶ÄŸeleri sÄ±ralar
numbers = [4 ,9 ,2, 17, 3, 19, 5]
numbers

[4, 9, 2, 17, 3, 19, 5]

In [ ]:
#kÃ¼Ã§Ã¼kten bÃ¼yÃ¼ÄŸe sÄ±ralama
numbers.sort()
numbers

[2, 3, 4, 5, 9, 17, 19]

In [ ]:
#6.ATÃ–LYEM

In [ ]:
#Tuple'lar bir kez oluÅŸturulduktan sonra deÄŸerleri deÄŸiÅŸtirilemez,silinemez ya da yeni deÄŸer eklenemez.
meyveler = ("armut", "Karpuz", "ayva", "portakal", "armut","muz")
meyveler

('armut', 'Karpuz', 'ayva', 'portakal', 'armut', 'muz')

In [ ]:
meyveler[1] = "Elma"

TypeError: 'tuple' object does not support item assignment

In [ ]:
meyveler = ("armut", "Karpuz", "ayva", "portakal", "armut","muz")
meyve = ("Elma",)
meyveler += meyve
meyveler

##Tek Ã¶ÄŸeli tuple oluÅŸtururken Ã¶ÄŸeden sonra
# virgÃ¼l kullanÄ±lmalÄ± yoksa python bunun tuple olduÄŸunu anlamayacaktÄ±r.

('armut', 'Karpuz', 'ayva', 'portakal', 'armut', 'muz', 'Elma')

In [ ]:
#listeyi kÃ¼meye dÃ¶nÃ¼ÅŸtÃ¼relim.
meyveler=set(["Elma","ayva",9])
meyveler

{9, 'Elma', 'ayva'}

In [ ]:
#Set, her Ã¶ÄŸeden yalnÄ±zca bir tane iÃ§erir.
kume2 = {"Python", "Merhaba", 6.8, "Merhaba" , True}
kume2

{6.8, 'Merhaba', 'Python', True}

In [ ]:
kume2.add(22.3)
kume2

{22.3, 6.8, 'Merhaba', 'Python', True}

In [ ]:
# 7.ATÃ–LYEM

NumPy KÃ¼tÃ¼phanesi

Verimlilik: NumPy, bÃ¼yÃ¼k veri setleriyle Ã§alÄ±ÅŸÄ±rken hesaplamalarÄ± hÄ±zlÄ± ve etkili yapar.

Temel KÃ¼tÃ¼phane: Pandas, SciPy, scikit-learn gibi birÃ§ok kÃ¼tÃ¼phane NumPy Ã¼zerine kuruludur.

Bellek YÃ¶netimi: NumPy dizileri daha az bellek kullanÄ±r ve bÃ¼yÃ¼k veri setleriyle Ã§alÄ±ÅŸÄ±rken performansÄ± artÄ±rÄ±r.

Kolay KullanÄ±m: KarmaÅŸÄ±k matematiksel iÅŸlemleri basitleÅŸtirir ve kodu daha okunabilir hale getirir.

Topluluk ve Kaynaklar: NumPy'nÄ±n geniÅŸ bir topluluÄŸu ve bolca Ã¶ÄŸretici kaynaÄŸÄ± vardÄ±r.

Numpy, dizilerle Ã§alÄ±ÅŸmak iÃ§in kullanÄ±lÄ±r. Bunun yanÄ±nda doÄŸrusal cebir, matris gibi alanlarda kullanÄ±lÄ±r.


YapÄ± ve iÅŸlev olarak listelerle benzer olsada listelerden Ã§ok daha hÄ±zlÄ±dÄ±rlar.

NumPy kÃ¼tÃ¼phanesini indirme ve Ã§alÄ±ÅŸtÄ±rma

!pip install numpy

import numpy as np

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)

In [ ]:
import numpy as np

In [ ]:
#np.array() fonksiyonu, verilen bir Python listesi, tuple'Ä± veya baÅŸka bir dizi benzeri nesneyi alÄ±r ve bu nesneyi bir NumPy array'ine dÃ¶nÃ¼ÅŸtÃ¼rÃ¼r.

x=np.array([1,2,3,4])
print(x)

[1 2 3 4]

In [ ]:
type(x)

numpy.ndarray

NumPy array'leri homojen veri tipine sahiptir, yani tÃ¼m elemanlar aynÄ± veri tipinde olmalÄ±dÄ±r.

In [ ]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [ ]:
#iki boyutlÄ±
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
array1 = np.array(36)
array2 = np.array([1,2,3,4])
array3 = np.array([[1,2,3],[4,5,6]])
array4 = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])

array1.ndim, array2.ndim, array3.ndim, array4.ndim

(0, 1, 2, 3)

In [ ]:
#1. katmandaki 0.satÄ±rdaki 2. indexe eriÅŸelim
array4[1,0,2]

np.int64(3)

In [ ]:
array4[1,1,1]

np.int64(5)

In [ ]:
array4

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

In [ ]:
array4[1,1,1]

np.int64(5)

In [ ]:
array2

array([1, 2, 3, 4])

In [ ]:
#array2 de 1, 2, 3'Ã¼ ekrana yazdÄ±ralÄ±m
array2[0:3]

array([1, 2, 3])

In [ ]:
array3#iki boyutlu

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
#array3'de 3 ve 6. sÃ¼tunu yazdÄ±ralÄ±m
array3[0:2,2]

array([3, 6])

In [ ]:
#array3'de 2 ve 5 sÃ¼tununa eriÅŸin
array3[0:2,1]

array([2, 5])

In [ ]:

array4

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

In [ ]:
#1. Katmandaki [4, 5, 6]'ya eriÅŸelim
array4[0,1,0:3]

array([4, 5, 6])

In [ ]:
#2 ve 5'i ekrana yazdÄ±ralÄ±m
array4[1,0:2,1]

array([2, 5])

In [ ]:
#8.ATÃ–LYEM
# Pandas kÃ¼tÃ¼phanesinin kullanÄ±m amacÄ± anlatÄ±lÄ±r. Pandasâ€™ta kullanÄ±lan series ve data frame veri tipleri anlatÄ±lÄ±r. Bu veri tiplerinin kullanÄ±m amacÄ± ve Ã¶zellikleri uygulamalÄ± olarak anlatÄ±lÄ±r.

# Series oluÅŸturma: Series tanÄ±mÄ± yapÄ±lÄ±r ve eleman sayÄ±sÄ±na, index ve deÄŸer bilgisine, ulaÅŸma yÃ¶ntemleri Ã¶rnekler ile gÃ¶sterilir.

# Indexing ve slicing: Seriler Ã¼zerinde indexing ve slicing iÅŸlemleri Ã¶rnekler Ã¼zerinden gÃ¶sterilir.

# Dataframe oluÅŸturma: Dataframe tanÄ±mÄ± yapÄ±lÄ±r ve nasÄ±l oluÅŸturulduÄŸu, sÃ¼tun adÄ± deÄŸiÅŸtirme Ã¶rnekleri verilir. Index ve sÃ¼tun bilgisine ulaÅŸma Ã¶rnekleri gÃ¶sterilir.

# Indexing ve slicing: Dataframe Ã¼zerinde eleman seÃ§mek iÃ§in yÃ¶ntemler gÃ¶sterilir.

# Drop fonksiyonu: Silme iÅŸlemi yapmak iÃ§in olduÄŸu belirtilir ve Ã¶rnekler ile gÃ¶sterilir.

# loc ve iloc: Bu yapÄ±lar ile etikete dayalÄ± ve indexe dayalÄ± seÃ§me iÅŸlemi Ã¶rnekleri yapÄ±lÄ±r.

# Eleman seÃ§me: Dataframeâ€™deki istenen sÃ¼tunda belirli deÄŸerlerin gÃ¶sterimi yapÄ±lÄ±r.

# Concat fonksiyonu: Dataframeâ€™leri birleÅŸtirmek iÃ§in kullanÄ±ldÄ±ÄŸÄ± Ã¶rnekler Ã¼zerinden anlatÄ±lÄ±r. BirleÅŸtirme iÅŸleminin yÃ¶ntemine gÃ¶re kullanÄ±lmasÄ± gereken parametreler anlatÄ±lÄ±

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
seri=pd.Series([12, 33, 45, 50, 14, 22, 16, 20,  4])
seri

0    12
1    33
2    45
3    50
4    14
5    22
6    16
7    20
8     4
dtype: int64

In [ ]:
type(seri)

pandas.core.series.Series

In [ ]:
seri.tail(-2)

2    45
3    50
4    14
5    22
6    16
7    20
8     4
dtype: int64

In [ ]:
#2. index ile 4. index (dahil) aralaÄ±ÄŸÄ±nÄ± seÃ§elim.
seri[2:5]

2    45
3    50
4    14
dtype: int64

In [ ]:
seri2 = pd.Series([2,4,6,8,10,12], index = ["a","b","c","d","e","f"])
seri2

a     2
b     4
c     6
d     8
e    10
f    12
dtype: int64

In [ ]:
#index Ã§aÄŸÄ±rma
seri2["b"]

np.int64(4)

In [ ]:
seri2["a":"d"]

a    2
b    4
c    6
d    8
dtype: int64

In [ ]:
#SÃ¶zlÃ¼k Ã¼zerinden bir seri oluÅŸturalÄ±m.

sozluk={"kÃ¼bra":25,
        "Melis": 22,
          "AyÅŸe":26

}
sozluk

{'kÃ¼bra': 25, 'Melis': 22, 'AyÅŸe': 26}

In [ ]:
yeni_sozluk=pd.Series(sozluk)
yeni_sozluk

kÃ¼bra    25
Melis    22
AyÅŸe     26
dtype: int64

In [ ]:
#array Ã¼zerinden bir seri oluÅŸturalÄ±m.
import numpy as np
#maximum 50 sayÄ±ya kadar Ã§Ä±kabilen ve 6 deÄŸerlerden oluÅŸan random bir aray oluÅŸturun
random_seri=pd.Series(np.random.randint(45,51,size=6))
print(random_seri)

0    50
1    49
2    50
3    45
4    45
5    49
dtype: int64

In [2]:
#kÃ¼tÃ¼phanelerin import edilmesi
import numpy as np
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving jobs_in_data.csv to jobs_in_data.csv

In [4]:
#Veri Ã§ekme
df=pd.read_csv("jobs_in_data.csv")
df

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M
...,...,...,...,...,...,...,...,...,...,...,...,...
9350,2021,Data Specialist,Data Management and Strategy,USD,165000,165000,United States,Senior,Full-time,Remote,United States,L
9351,2020,Data Scientist,Data Science and Research,USD,412000,412000,United States,Senior,Full-time,Remote,United States,L
9352,2021,Principal Data Scientist,Data Science and Research,USD,151000,151000,United States,Mid-level,Full-time,Remote,United States,L
9353,2020,Data Scientist,Data Science and Research,USD,105000,105000,United States,Entry-level,Full-time,Remote,United States,S
9354,2020,Business Data Analyst,Data Analysis,USD,100000,100000,United States,Entry-level,Contract,Remote,United States,L

In [5]:
#ilk 5 satÄ±rÄ±na gÃ¶z gezdirelim
df.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

In [6]:
#son 5 satÄ±rÄ±na gÃ¶z gezdirelim
df.tail()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
9350,2021,Data Specialist,Data Management and Strategy,USD,165000,165000,United States,Senior,Full-time,Remote,United States,L
9351,2020,Data Scientist,Data Science and Research,USD,412000,412000,United States,Senior,Full-time,Remote,United States,L
9352,2021,Principal Data Scientist,Data Science and Research,USD,151000,151000,United States,Mid-level,Full-time,Remote,United States,L
9353,2020,Data Scientist,Data Science and Research,USD,105000,105000,United States,Entry-level,Full-time,Remote,United States,S
9354,2020,Business Data Analyst,Data Analysis,USD,100000,100000,United States,Entry-level,Contract,Remote,United States,L

info() metodu, genellikle pandas kÃ¼tÃ¼phanesi ile kullanÄ±lan ve bir DataFrame hakkÄ±nda Ã¶zet bilgi saÄŸlayan bir fonksiyondur.

Bu Ã¶zet bilgi, veri setinin genel yapÄ±sÄ±nÄ± anlamak iÃ§in oldukÃ§a faydalÄ±dÄ±r.

.info() Metodunun SaÄŸladÄ±ÄŸÄ± Bilgiler:

Veri Tipleri: Hangi sÃ¼tunun hangi veri tipine (Ã¶rneÄŸin, int, float, object (string), datetime) sahip olduÄŸunu gÃ¶sterir.

SÃ¼tun Ä°simleri: Veri setindeki tÃ¼m sÃ¼tunlarÄ±n isimlerini listeler.

Null (Eksik) DeÄŸerler: Her sÃ¼tundaki eksik (null) deÄŸerlerin sayÄ±sÄ±nÄ± gÃ¶sterir.

SÃ¼tun SayÄ±sÄ± ve SatÄ±r SayÄ±sÄ±: DataFrame'deki toplam satÄ±r ve sÃ¼tun sayÄ±sÄ±nÄ± belirtir.

Bellek KullanÄ±mÄ±: DataFrame'in bellekte ne kadar yer kapladÄ±ÄŸÄ±nÄ± gÃ¶sterir.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9355 entries, 0 to 9354
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           9355 non-null   int64
 1   job_title           9355 non-null   object
 2   job_category        9355 non-null   object
 3   salary_currency     9355 non-null   object
 4   salary              9355 non-null   int64
 5   salary_in_usd       9355 non-null   int64
 6   employee_residence  9355 non-null   object
 7   experience_level    9355 non-null   object
 8   employment_type     9355 non-null   object
 9   work_setting        9355 non-null   object
 10  company_location    9355 non-null   object
 11  company_size        9355 non-null   object
dtypes: int64(3), object(9)
memory usage: 877.2+ KB

.describe() metodu, genellikle pandas kÃ¼tÃ¼phanesi ile kullanÄ±lan ve bir DataFrame'in sayÄ±sal sÃ¼tunlarÄ± hakkÄ±nda Ã¶zet istatistiksel bilgi saÄŸlayan bir fonksiyondur. Bu metod, veri setinin istatistiksel Ã¶zelliklerini hÄ±zlÄ± bir ÅŸekilde anlamak iÃ§in oldukÃ§a kullanÄ±ÅŸlÄ±dÄ±r.



.describe() Metodunun SaÄŸladÄ±ÄŸÄ± Bilgiler:

count: Her sÃ¼tundaki toplam veri noktasÄ± sayÄ±sÄ±nÄ± gÃ¶sterir.

mean: Her sÃ¼tunun ortalama deÄŸerini hesaplar.

std: Her sÃ¼tunun standart sapmasÄ±nÄ± gÃ¶sterir.

min: Her sÃ¼tundaki en kÃ¼Ã§Ã¼k deÄŸeri belirtir.

25% (1. Ã§eyrek): Her sÃ¼tundaki deÄŸerlerin %25'inin altÄ±nda kaldÄ±ÄŸÄ± deÄŸeri gÃ¶sterir.

50% (Medyan): Her sÃ¼tundaki deÄŸerlerin %50'sinin altÄ±nda kaldÄ±ÄŸÄ± deÄŸeri belirtir (medyan).

75% (3. Ã§eyrek): Her sÃ¼tundaki deÄŸerlerin %75'inin altÄ±nda kaldÄ±ÄŸÄ± deÄŸeri gÃ¶sterir.

max: Her sÃ¼tundaki en bÃ¼yÃ¼k deÄŸeri belirtir.

In [8]:
df.describe()

         work_year         salary  salary_in_usd
count  9355.000000    9355.000000    9355.000000
mean   2022.760449  149927.981293  150299.495564
std       0.519470   63608.835387   63177.372024
min    2020.000000   14000.000000   15000.000000
25%    2023.000000  105200.000000  105700.000000
50%    2023.000000  143860.000000  143000.000000
75%    2023.000000  187000.000000  186723.000000
max    2023.000000  450000.000000  450000.000000

isnull(): Bu metod, bir DataFrame veya Serideki her bir deÄŸerin eksik olup olmadÄ±ÄŸÄ±nÄ± kontrol eder ve aynÄ± boyutta bir DataFrame veya Seri dÃ¶ndÃ¼rÃ¼r.

any(): Bu metod, eksik deÄŸerler iÃ§in True olan sÃ¼tunlarÄ±n olup olmadÄ±ÄŸÄ±nÄ± kontrol eder. Her sÃ¼tun iÃ§in herhangi bir True deÄŸeri varsa, o sÃ¼tun iÃ§in True dÃ¶ner.

In [9]:
df.isnull().any()

work_year             False
job_title             False
job_category          False
salary_currency       False
salary                False
salary_in_usd         False
employee_residence    False
experience_level      False
employment_type       False
work_setting          False
company_location      False
company_size          False
dtype: bool

In [10]:
df.isnull().sum()

work_year             0
job_title             0
job_category          0
salary_currency       0
salary                0
salary_in_usd         0
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

.unique() Metodu:
AmacÄ±: Bir Seri veya DataFrame'in belirli bir sÃ¼tunundaki benzersiz (tekrarsÄ±z) deÄŸerleri dÃ¶ndÃ¼rÃ¼r.

KullanÄ±m AlanÄ±: Veri setinde hangi deÄŸerlerin bulunduÄŸunu ve tekrar eden deÄŸerleri gÃ¶rmek iÃ§in kullanÄ±lÄ±r.

DÃ¶nÃ¼ÅŸ DeÄŸeri: Benzersiz deÄŸerleri iÃ§eren bir NumPy array dÃ¶ndÃ¼rÃ¼r.

In [11]:
df.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

In [13]:
df["work_year"].unique()

array([2023, 2022, 2020, 2021])

In [14]:
df["salary_currency"].unique()

array(['EUR', 'USD', 'GBP', 'CAD', 'AUD', 'PLN', 'BRL', 'TRY', 'CHF',
       'SGD', 'DKK'], dtype=object)

In [16]:
df["company_size"].unique()

array(['L', 'M', 'S'], dtype=object)

.value_counts() Metodu:

AmacÄ±: Bir Seri iÃ§indeki benzersiz deÄŸerlerin frekansÄ±nÄ± (kaÃ§ kez tekrar ettiklerini) sayar.

KullanÄ±m AlanÄ±: Kategorik verilerin daÄŸÄ±lÄ±mÄ±nÄ± ve her bir deÄŸerin ne sÄ±klÄ±kta tekrarlandÄ±ÄŸÄ±nÄ± gÃ¶rmek iÃ§in kullanÄ±lÄ±r.

DÃ¶nÃ¼ÅŸ DeÄŸeri: Benzersiz deÄŸerleri ve bunlarÄ±n frekanslarÄ±nÄ± iÃ§eren bir pandas Seri dÃ¶ndÃ¼rÃ¼r, sÄ±klÄ±kla azalan dÃ¼zende sÄ±ralanÄ±r.

In [17]:
df["work_year"].value_counts()

work_year
2023    7453
2022    1634
2021     197
2020      71
Name: count, dtype: int64

In [18]:
df['company_size'].value_counts()

company_size
M    8448
L     748
S     159
Name: count, dtype: int64

.groupby() Metodu:

AmacÄ±: Bir DataFrame'i belirtilen bir veya daha fazla sÃ¼tuna gÃ¶re gruplar ve bu gruplar Ã¼zerinde toplu iÅŸlemler (aggregate functions) gerÃ§ekleÅŸtirilmesini saÄŸlar.

KullanÄ±m AlanÄ±: Veriyi gruplar halinde Ã¶zetlemek, analiz etmek ve toplu iÅŸlemler yapmak iÃ§in kullanÄ±lÄ±r.
Syntax: df.groupby('sÃ¼tun_adÄ±')

In [19]:
df.groupby("work_year")[["salary_in_usd"]].mean().reset_index()

   work_year  salary_in_usd
0       2020  105878.859155
1       2021  106483.644670
2       2022  135467.501836
3       2023  155132.591708

In [20]:
df.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

In [21]:
df.groupby("job_category")[["salary_in_usd"]].mean().reset_index()

                     job_category  salary_in_usd
0            BI and Visualization  135092.102236
1              Cloud and Database  155000.000000
2                   Data Analysis  108505.721345
3  Data Architecture and Modeling  156002.359073
4                Data Engineering  146197.656195
5    Data Management and Strategy  103139.934426
6     Data Quality and Operations  100879.472727
7       Data Science and Research  163758.575979
8       Leadership and Management  145476.019881
9         Machine Learning and AI  178925.847339

In [22]:
df.groupby("job_category")[["salary_in_usd"]].mean().sort_values(by="salary_in_usd",ascending=False).reset_index()

                     job_category  salary_in_usd
0         Machine Learning and AI  178925.847339
1       Data Science and Research  163758.575979
2  Data Architecture and Modeling  156002.359073
3              Cloud and Database  155000.000000
4                Data Engineering  146197.656195
5       Leadership and Management  145476.019881
6            BI and Visualization  135092.102236
7                   Data Analysis  108505.721345
8    Data Management and Strategy  103139.934426
9     Data Quality and Operations  100879.472727